.events-form {
  width: 80%;
  margin: 0 auto;
}

.events-form__group {
  margin-bottom: 30px;
}

.events-form__btn {
  margin: 0 auto;
}

.events-form__message {
  animation: FadeAnimation .5s ease-in .2s forwards;
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
